.container {
    display: flex;
    flex-direction: column;
    /*flex-grow: 1;
    width: 512px;
    height: 512px;*/
    max-height: 95vh;
    aspect-ratio: 1/1;
}

.row {
    display: flex;
    flex-grow: 1;
}

.pixel {
    flex-grow: 1;
    background-color: gainsboro;
    border: solid white thin;
}